<a [routerLink]="['']" class="btn btn-primary">Back to summary</a>
<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let item of categories; let i = index">
    <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{tab: i}"
       [routerLinkActive]="['active']">{{categories[i]}}</a>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <span><strong>Name</strong></span>
    <span><strong>Amount</strong></span>
  </li>
  <li class="list-group-item" *ngFor="let item of data; let i = index">
    <span>{{item.name.first}} {{item.name.last}} </span>
    <span>{{amountArr[i]}}</span>
  </li>
</ul>

